<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matzip.matzipback.report.query.mapper.ReportMapper">

    <!-- 신고사유 조회 -->
    <select id="getAllReasons" resultType="com.matzip.matzipback.report.query.dto.ReasonDTO">
        SELECT
        reason_seq,
        reason_name,
        reason_order
        FROM reasons
        ORDER BY reason_order ASC
    </select>

    <!-- 신고 검색 및 조회 -->
    <select id="selectReports" resultType="com.matzip.matzipback.report.query.dto.ReportDTO">
        SELECT
            report_seq,
            category,
            seq,
            reporter_user_seq,
            usersA.user_nickname AS reporter_user_name,
            reported_user_seq,
            usersB.user_nickname AS reported_user_name,
            LEFT(report_content, 20) AS report_content,
            penalty_seq,
            report_status,
            report_time,
            report_finished_time
        FROM report_view
        JOIN users usersA ON (report_view.reporter_user_seq = usersA.user_seq)
        JOIN users usersB ON (report_view.reported_user_seq = usersB.user_seq)
        WHERE TRUE
        <if test="reporterUserSeq != null">
            AND reporter_user_seq = #{reporterUserSeq}
        </if>
        <if test="reportedUserSeq != null">
            AND reported_user_seq = #{reportedUserSeq}
        </if>
        <if test="penaltySeq != null">
            AND penalty_seq = #{penaltySeq}
        </if>
        <if test="reportStatus != null">
            AND report_status = #{reportStatus}
        </if>
        <if test="category != null">
            AND category = #{category}
        </if>
        <if test="sequence != null">
            AND seq = #{sequence}
        </if>
        ORDER BY report_seq DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 신고 사유 조회 -->
    <select id="selectReportReasons" resultType="com.matzip.matzipback.report.query.dto.ReasonDTO">
        SELECT
            reason_seq,
            reason_name
        FROM report_reason
        JOIN reasons USING (reason_seq)
        WHERE report_reason.report_seq = #{reportSeq}
    </select>

    <!-- 신고 검색 및 조회의 페이징을 위한 쿼리 -->
    <select id="countReports" resultType="long">
        SELECT
            COUNT(*)
        FROM report_view
        WHERE TRUE
        <if test="reporterUserSeq != null">
            AND reporter_user_seq = #{reporterUserSeq}
        </if>
        <if test="reportedUserSeq != null">
            AND reported_user_seq = #{reportedUserSeq}
        </if>
        <if test="penaltySeq != null">
            AND penalty_seq = #{penaltySeq}
        </if>
        <if test="reportStatus != null">
            AND report_status = #{reportStatus}
        </if>
        <if test="category != null">
            AND category = #{category}
        </if>
        <if test="sequence != null">
            AND seq = #{sequence}
        </if>
    </select>

    <!-- 신고 상세 조회 -->
    <select id="selectReportBySeq" resultType="com.matzip.matzipback.report.query.dto.ReportDTO">
        SELECT
            report_seq,
            category,
            seq,
            reporter_user_seq,
            usersA.user_nickname AS reporter_user_name,
            reported_user_seq,
            usersB.user_nickname AS reported_user_name,
            report_content,
            penalty_seq,
            report_status,
            report_time,
            report_finished_time
        FROM report_view
        JOIN users usersA ON (report_view.reporter_user_seq = usersA.user_seq)
        JOIN users usersB ON (report_view.reported_user_seq = usersB.user_seq)
        WHERE report_seq = #{reportSeq}
    </select>

    <!-- 쪽지 신고자 검증 -->
    <select id="selectMessageReceiver" resultType="Long">
        SELECT
            message_receive_user_seq
        FROM
            messages
        WHERE
            message_seq = #{categorySeq}
    </select>

    <!-- 중복 신고 검증 -->
    <select id="selectDuplicateReport" resultType="Long">
        SELECT
            COUNT(*)
        FROM
            report
        WHERE
            reporter_user_seq = #{userSeq}
        AND
        <if test="category == 'post'">
            post_seq
        </if><if test="category == 'postcomment'">
            post_comment_seq
        </if><if test="category == 'list'">
            list_seq
        </if><if test="category == 'listcomment'">
            list_comment_seq
        </if><if test="category == 'review'">
            review_seq
        </if><if test="category == 'message'">
            message_seq
        </if>
        = #{categorySeq}
    </select>

    <!-- 피신고자 확인 -->
    <select id="selectReportedUser" resultType="Long">
        SELECT
        <if test="category == 'post'"> post_user_seq FROM post WHERE post_seq </if>
        <if test="category == 'postcomment'"> post_comment_seq FROM post_comment WHERE post_comment_seq </if>
        <if test="category == 'list'"> list_user_seq FROM lists WHERE list_seq </if>
        <if test="category == 'listcomment'"> list_comment_user_seq FROM list_comment WHERE list_comment_seq </if>
        <if test="category == 'review'"> review_user_seq FROM review WHERE review_seq </if>
        <if test="category == 'message'"> message_send_user_seq FROM messages WHERE message_seq </if>
        = #{categorySeq}
    </select>
</mapper>